#########################################
###                DEBUG              ###
#########################################
##RPM Fan test, on PB5, tacho on PC9
#[fan_generic debug_fan]
#pin: PB5
#tachometer_pin: PC9

#########################################
###                MCU                ###
#########################################

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f446xx_420025000250305538333620-if00

#########################################
###         CONFIG & FILES            ###
#########################################


[include 0000_variables.cfg]
[include 0001_macros_printing.cfg]
[include 0002_macros_service.cfg]
[include webui_macros.cfg]

[virtual_sdcard]
path: ~/gcode_files

[printer]
kinematics: cartesian
max_z_velocity: 25
max_z_accel: 100
max_velocity: 300
max_accel: 5000
max_accel_to_decel: 2500

[safe_z_home]
home_xy_position: 27.5,44.5
speed: 100
z_hop: 15
z_hop_speed: 60
move_to_previous: False

# Chamber light
### Chamber light, connected to LED-R
[output_pin chamber_led]
pin: PB6

[temperature_sensor HostTemp]
sensor_type: temperature_host

[input_shaper]
shaper_freq_x: 34.7
shaper_freq_y: 37.5
shaper_type: mzv

#########################################
###               MODULES             ###
#########################################

[respond]
default_type: echo

[display_status]

[pause_resume]


#########################################
###         STEPPERS & ENDSTOPS       ###
#########################################

### X-Axis, connected to stepper X on Fysetc 2209 v3.0, X- clicker endstop
[stepper_x]
step_pin: PE11
dir_pin: PE10
enable_pin: !PE9
rotation_distance: 40
microsteps: 256
endstop_pin: ^PB14
position_endstop: -8.5
position_max: 220
position_min: -8.5
homing_speed: 50

[tmc2209 stepper_x]
uart_pin: PE7
run_current: 0.8
hold_current: 0.4
stealthchop_threshold: 999999
interpolate: False

### Y-Axis, connected to stepper Y on Fysetc 2209 v3.0, Y- clicker endstop
[stepper_y]
step_pin: PD8
dir_pin: PB12
enable_pin: !PD9
rotation_distance: 40
microsteps: 256
endstop_pin: ^PB13
position_endstop: -17.3
position_max: 220
position_min: -17.3
homing_speed: 50

[tmc2209 stepper_y]
uart_pin: PE15
run_current: 0.800
hold_current: 0.400
stealthchop_threshold: 999999
interpolate: False


### Z-Axis
#1, left, connected to stepper Z1 on Fysetc 2209 v3.0, Z- clicker endstop
[stepper_z]
step_pin: PD14
dir_pin: !PD13
enable_pin: !PD15
rotation_distance: 8
microsteps: 256
endstop_pin: probe:z_virtual_endstop
position_min: -4
position_max: 250

[tmc2209 stepper_z]
uart_pin: PD10
run_current: 0.75
interpolate: False

#2, right, connected to stepper E0 on Fysetc 2209 v3.0, no endstop
[stepper_z1]
step_pin: PD5
dir_pin: !PD6
enable_pin: !PD4
rotation_distance: 8
microsteps: 256

[tmc2209 stepper_z1]
uart_pin: PD7
run_current: 0.75
interpolate: False

#########################################
###       EXTRUDER, BED, CHAMBER      ###
#########################################

### Main extruder, connected to stepper E4 on Fysetc 2209 v3.0, heater on e0 out, sensor on TE0
### Hotend fan on FAN1, cooling fan on FAN0
[extruder]
max_extrude_only_distance: 200.0
step_pin: PE1
dir_pin: !PE0
enable_pin: !PC5
rotation_distance: 22.54
microsteps: 256
gear_ratio: 50:17
nozzle_diameter: 0.400
filament_diameter: 1.750
max_extrude_cross_section: 1
max_extrude_only_accel: 10000
max_extrude_only_velocity: 99999
heater_pin: PB15
sensor_type: PT1000
sensor_pin: PC0
min_extrude_temp: 150
min_temp: 15
max_temp: 290
pressure_advance: 0.0475
#control = pid
#pid_kp = 23.383
#pid_ki = 1.310
#pid_kd = 104.345

[tmc2209 extruder]
uart_pin: PD11
run_current: 0.550
hold_current: 0.500
interpolate: False

[heater_fan v6_fan]
pin: PB0

[fan]
pin: PB1

###Bed heater, 220v via SSR connected to BED_OUT, sensor on TB
[heater_bed]
heater_pin: PB4
sensor_type: NTC 100K beta 3950
sensor_pin: PC3
min_temp: 15
max_temp: 170
#control = pid
#pid_kp = 48.180
#pid_ki = 2.362
#pid_kd = 245.705

### Enclosure heater, connected to LED-B, sensor on TE1
[heater_generic chamber_heater]
gcode_id: E
heater_pin: PB7
sensor_type: NTC 100K beta 3950
sensor_pin: PC1
smooth_time: 10.0
min_temp: 15
max_temp: 70
control: watermark

[verify_heater chamber_heater]
check_gain_time: 120

#########################################
###             BFPTOUCH              ###
#########################################
### Bfptouch, optical endstop connected to PA1 (X+ endstop), servo to PA2 (Y+ endstop)
[probe]
pin: PA1
x_offset: 0
y_offset: -17
#z_offset: 1
speed: 7
deactivate_on_each_sample: False
sample_retract_dist: 4
samples: 3
samples_tolerance_retries: 1
samples_result: median
activate_gcode:
  SET_SERVO SERVO=BFPTouch ANGLE=70
  SET_SERVO SERVO=BFPTouch WIDTH=0
  G4 P300
deactivate_gcode:
  SET_SERVO SERVO=BFPTouch ANGLE=0
  SET_SERVO SERVO=BFPTouch WIDTH=0

[servo BFPTouch]
maximum_servo_angle: 90
pin: PA2

[screws_tilt_adjust]
screw1:25,42
screw1_name: bottom_left_screw
screw2:195,42
screw2_name: bottom_right_screw
screw3:25,212
screw3_name: top_left_screw
screw4:195,212
screw4_name: top_right_screw
screw_thread: CW-M4

[bed_mesh]
mesh_min: 0,0
mesh_max: 220,202
probe_count: 9,9
algorithm: bicubic

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 38.171
#*# pid_ki = 1.621
#*# pid_kd = 224.729
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 26.397
#*# pid_ki = 1.557
#*# pid_kd = 111.856
#*#
#*# [probe]
#*# z_offset = 0.950
